<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.blog">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="POLY"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.pages.Timeline" />
        <activity android:name=".activities.pages.Following" />
        <activity android:name=".activities.pages.Reminder" />
        <activity android:name=".activities.pages.History" />
        <activity android:name=".activities.pages.WriteAnArticle" />
        <activity android:name=".activities.ArticleActivity" />
        <activity android:name=".activities.Main" />
        <activity android:name=".activities.AddUserActivity"></activity>
    </application>

</manifest>
